@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    text-align: center;
    background-color: black;
    position: fixed

}

#TLcountdown {
    color: white;
}


.video-controls a {
    background-color: #BB4478;
    border-color: black;
}

a.toggle {
    background-color: #BB4478;
    border-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px;
    
}


.video-controls span {
    color: white;
}

.video-controls a:hover {
    background-color: #831042;
}

.video-controls a:visited {
    background-color: #BB4478;
}

a.toggle:hover {
    background-color: #831042;
    color: white;
}

a.toggle:visited {
    background-color: #BB4478;
    color: white;
}
